<header class="top-nav-header">
    <nav id="navbar">
        <a href="/">
            <h2>SurveyIt</h2>
        </a>
        <ul>
            <%if(isAuthenticated){%>
                <li><a href="/dashboard">Dashboard</a></li>
                <li>
                    <div class="dropdown">

                        <span class="profile-navbar" style="display: flex; align-items: center;gap: 3px;">
                            <%= firstName%> <i style="font-size: 10px;" class="bi bi-caret-down-fill"></i>
                        </span>
                        <div class="dropdown-content">
                            <div class="dropdown-container">
                                <ul class="dropdown-list">
                                    <li><a href="/profile">My Profile</a></li>
                                    <li><a href="/surveys">Surveys</a></li>
                                    <li><a href="/responses">Responses</a></li>
                                    <li><a href="/newSurvey">New Survey</a></li>
                                    <li>
                                        <form action="/logout" method="POST"><button class="logout-button"
                                                type="submit">Logout</button>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <%}else{%>
                    <li style="margin-right: 20px;"><a href="/login">Surveys </a></li>
                    <li><a class="loginBtn" href="/login">Log In</a></li>
                    <li><a class="signupBtn" href="/signup">Sign Up</a></li>
                    <%}%>
        </ul>
    </nav>
</header>
<div style="height: 70px;">

</div>