#globalSurveys {
    padding: 30px;
}

#globalSurveys h1 {
    margin: 25px;
    text-align: center;
}

#globalSurveys article {
    display: flex;
    align-items: center;
    justify-content: center;
}


#globalSurveys h2 {
    font-size: 22px;
    margin: 10px 0;
}

.globalSurveyImage {
    width: 330px;
    height: 330px;
}

.globalSurveyImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.globalSurveyData {
    width: 70%;
    padding: 30px;
}

.globalSurveyData p {
    color: var(--color-info-dark);
    margin: 10px 0;
}

.globalSurveyData .grids-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width:900px) {
    .globalSurveyImage {
        display: none;
    }

    .globalSurveyData {
        width: 100%;
    }

    #globalSurveys {
        padding: 10px;
    }
}

@media screen and (max-width:500px) {
    .globalSurveyData .grids-data {
        grid-template-columns: repeat(1, 1fr);
    }

}

.searchBar .btn2 {
    font-size: 18px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn2:hover {
    cursor: pointer;
}

.searchBar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar form input {
    width: 50%;
    min-width: 200px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 3px 15px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}