<div id="topBar">
    <div class="topBar">
        <div>
            <button id="toggle-btn"><i class="bi bi-list"></i></button>
        </div>
        <div class="profileTop">
            <div style="margin-right:10px " class="profileTopPhoto">
                <img style="object-fit: cover;" src="<%=image%>" alt="profilePic">
            </div>
            <div class="text-muted">
                <a href="/">
                    <div style="right:10px ;" class="dropdown">
                        <span class="profile-navbar" style="display: flex; align-items: center;gap: 3px;">
                            <%= firstName%>
                                <%= lastName%> <i style="font-size: 10px;" class="bi bi-caret-down-fill"></i>
                        </span>
                        <div class="dropdown-content">
                            <div class="dropdown-container">
                                <ul class="dropdown-list">
                                    <li><a href="/profile">My Profile</a></li>
                                    <li><a href="/surveys">Surveys</a></li>
                                    <li><a href="/responses">Responses</a></li>
                                    <li><a href="/newSurvey">New Survey</a></li>
                                    <li>
                                        <form action="/logout" method="POST"><button class="logout-button"
                                                type="submit">Logout</button>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>